<ion-view>
  <ion-nav-title><img class="headerlogo" src="img/logoheaderbar.png" width="150" height="40"></ion-nav-title>
  <ion-content class="view-home">
    <ion-slide-box does-continue="true" auto-play="true" slide-interval="5000" on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <img src="img/banner1.jpg" width="100%" height="auto"/>
      </ion-slide>
      <ion-slide>
        <img src="img/banner2.jpg" width="100%" height="auto"/>
      </ion-slide>
      <ion-slide>
        <img src="img/banner3.jpg" width="100%" height="auto"/>
      </ion-slide>
      <ion-slide>
        <img src="img/banner4.jpg" width="100%" height="auto"/>
      </ion-slide>
      </ion-slide-box>
  </ion-content>
</ion-view>
