<ion-view view-title="Connect">
  <ion-content class="view-connect">
        <div class="row">
          <div class="col-90">
          <button class="button ng-click="openTwitter()" connect-twitter-button button-block">
            <i class="connect-icons icon ion-social-twitter-outline"></i>
            Twitter
          </button>
          <button class="button connect-button button-block button-stable">
            <i class="icon ion-social-facebook-outline connect-icons"></i>
            Facebook
          </button>
          <button class="button connect-button button-block button-stable">
            <i class="icon ion-social-instagram-outline connect-icons"></i>
            Instagram
          </button>
          </div>
        </div>
  </ion-content>
</ion-view>
